<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Options</title>
  </head>
  <body>
    <div>
      <label for="displayMode">Open the tool in:</label>
      <select id="displayMode">
        <option value="tab">a new tab</option>
        <option value="popup">a popup window</option>
      </select>
    </div>

    <div id="status"></div>
    <button id="save">Save</button>
  </body>
</html>
